<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <title>UsersPage</title>
    <style>
        body {
            font-size: x-large;
        }

        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid;
            align-content: center;
        }

        tr:hover td {
            background-color: lightblue;
        }

        .no-border {
            border: 0;
        }
    </style>
</head>
<body>
<h1 th:text="${tableTitle} + ${user.getName()} +' '+ ${user.getLast_name()}"/>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Email(Логин)</th>
        <th scope="col">Пароль</th>
        <th scope="col">Права доступа</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLast_name()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getRoles()}"></td>
    </tr>
    </tbody>
</table>
<br>
<div sec:authorize="hasAuthority('ROLE_ADMIN')">
    <form action="/admin" target="_self">
        <button>Вернуться к списку пользователей</button>
    </form>
    <br>
    <br>
</div>
<form th:action="@{/logout}" th:method="POST" target="_self">
    <button>Выйти</button>
</form>

</body>
</html>