<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <title>User page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous"/>
</head>
<body>
<!--Navbar-->
<nav class="navbar align-top text-white navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" id="current-user-info"><b th:text="${currentUser.username}"></b> with roles: <b th:each="role : ${currentUser.roles}" th:text="${role.name}"></b></a>
        <div class="text-right">
            <form class="d-flex" action="/logout" method="post">
                <button class="btn btn-dark text-secondary" type="submit"><strong>Logout</strong></button>
            </form>
        </div>
    </div>
</nav>

<!--Page container-->
<div class="container-fluid">
    <div class="row row-cols-2 text-black">
        <!--        Left navigation bar-->
        <div class="col-sm-2 bg-white">
            <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist">
                <a class="nav-link active" role="tab" aria-controls="v-pills-profile" aria-selected="false"
                   id="user-nav-link">User</a>
            </div>
        </div>
        <!--                Main container-->
        <div class="col-10 container-fluid">
            <div id="user-panel-title" class="h1">User-information page</div>
            <div class="tab-content">
                <!--                Card filling-->
                <div class="card">
                    <!--                    Admin panel-->
                    <div id="admin-panel">
                        <!--                    Card header-->
                        <div class="card-header m-1" id="adminPanelName">
                            <div id="users-tab-name" class="h3">About user</div>
                        </div>
                        <!--                    Card body-->
                        <div class="card-body" id="all-users-card-body">
                            <table class="table table-striped table-hover" id="users-table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First name</th>
                                    <th>Last name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td th:text="${currentUser.id}"></td>
                                    <td th:text="${currentUser.firstName}"></td>
                                    <td th:text="${currentUser.lastName}"></td>
                                    <td th:text="${currentUser.age}"></td>
                                    <td th:text="${currentUser.username}"></td>
                                    <td th:each="role : ${currentUser.roles}" th:text="${role.name}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--                Card filling end-->
            </div>
        </div>
        <!--                Main container end-->
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>